@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    cursor: pointer;
}

button {
    width: max-content;
    padding: 5px 20px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: #422b8a;
    color: white;
}

.nav-container {
    background-color: #422b8a;
    padding: 20px 5px 0;
    border-bottom: 2px solid black;
}

.nav-container h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
}

.nav-container h1 span {
    color: black;
}

.nav-container nav {
    display: flex;
}

.nav-container nav a {
    border: 2px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 5px 20px;
    background-color: white;
    margin-right: 5px;
}

.nav-container nav a:hover {
    color: white;
    background-color: grey;
}

.home-container {
    width: 60%;
    margin: auto;
    padding: 20px;
}

.home-container h2 {
    text-align: center;
}

.transactions-container_budget {
    margin-left: 20px;
}

.transactions-container_minor {
    border-bottom: 2px solid black;
    margin: 0 100px;
}

.transactions-container div div {
    border: 2px solid black;
    border-bottom: 0;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
}

.transaction-container {
    margin: 10px auto 0;
    width: 600px;
    text-align: center;
}

.transaction-container div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.edit-form-container,
.new-form-container {
    width: max-content;
    margin-left: 10px;
}

.edit-form-container form,
.new-form-container form {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-form-container label,
.new-form-container label {
    font-weight: 600;
}

.edit-form-container input,
.new-form-container input {
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
}

.edit-form-container button,
.new-form-container button {
    margin: auto;
}