@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Bitter;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    cursor: pointer;
}

.nav-container {
    background-color: #848ccf;
    padding: 20px 5px 0px 5px;
    border-bottom: 2px solid black;
}

.nav-container h1 {
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: white;
}

.nav-container h1 span {
    color: black;
}

.nav-container nav {
    display: flex;
}

.nav-container nav a {
    border: 2px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 20px;
    background-color: white;
    margin-right: 5px;
}

.nav-container nav a:hover {
    color: white;
    background-color: grey;
}

.home-container {
    width: 60%;
    margin: auto auto;
    padding: 20px;
}

.home-container h2 {
    text-align: center;
}

.transactions-container_budget {
    margin-left: 20px;
}

.transactions-container_minor {
    border-bottom: 2px solid black;
    margin: 0px 100px 0px 100px;
}

.transactions-container div div {
    border: 2px solid black;
    border-bottom: 0px;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
}